
	
div#header4{
text-align:center;
}		

div#navigation4{
text-align: center;
word-spacing: 10px
}		

div#about{
text-align:center;
}	


div#sidebar4{
text-align:left;}	

div#footer4{
text-align:left;}	
